.navWrapper {
  background: #19202f;
}



.logo {
  cursor: pointer;
  filter: hue-rotate(-30deg);
}
.navList li {
  cursor: pointer;
}

.icon {
  cursor: pointer;
  color: white;
}

.searchbox {
  background: white;
  height: 50%;
}
.searchbox .input {
  background: transparent;
  height: 100%;
  outline: none;
  border: none;
  padding-left: 10px;
}
